<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= startingContent %></p>
<br />

<div class="row">
  <% post.forEach(index => { %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= index.title %></h3>
        <p>
          <span class="text-overflow"><%= index.content %></span>
          <a href="/posts/<%=index._id%>">read more</a>
        </p>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<%- include("partials/footer") -%>
